BOT_SECRET = 
  SESSION_PASSWORD = Myth5123
  WEATHERSTACK_KEY = Key
  ERROR_LOGS =https://discord.com/api/webhooks/1027263258450722916/_AYocqbeUFV9Rz8XOmeAvdeqKM_kCGd4IvsrMOMcFLg7Z0R6vYBbLxkdYm5hBilrS2bi
  JOIN_LEAVE_LOGS =
  MONGO_CONNECTION=
  BOT_TOKEN=
 DBL_TOKEN= 
 DBL_SECRET= 