<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="description" content="new step is an another discord bot can moderate , help, make fun , economy and much more 
 you can rech premium planes too for more features make sure you are ready for amazing time with it">

  <meta name="keywords" content="discord, discord.js, bot , diwcordBot, discordapp, discordinia, topgg, top.gg">

  <meta name="author" content="Virus24#9118">
  <title> <%= bot.user.username %> </title>
  <link rel="icon" type="image/ico" href="<%= bot.user.avatarURL() %>" />

  <!-- CSS JS Fonts Icons-->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css" />
  <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"
  />
  

  <link rel="stylesheet" href="/dist/css/custom.css" />
  
  
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/fastclick/lib/fastclick.js"></script>
  <script src="/dist/js/adminlte.min.js"></script>
  <script src="/dist/js/custom.js"></script>
</head>
